{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

      {% for listing in Listings %}

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              {% if listing.image != "none" %}
                <img src="{{ listing.image }}" class="card-img" alt="{{ listing.title }}">
              {% else %}
                <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-6.png" class="card-img" alt="{{ listing.title }}">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">
                  Price: {{ listing.start_bid }}
                </p>
                <p class="card-text">
                  {{ listing.description }}
                </p>
                {% if listing.category != "none" %}
                  <p class="card-text">Category: {{ listing.category }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

{% endblock %}
