{% extends 'auctions/layout.html' %}

{% block body %}
  <div class="wrapper">

    <header>
      <h1>Listing info:</h1>
    </header>

    {% if 'error' in request.session %}
      <div class="alert alert-danger" role="alert">
        Your bid is too low please reise your bid.
      </div>
    {% endif %}

    <div class="card mb-2">
      <div class="row no-gutters">

        {% if listing.image != "none" %}
          <div class="col-md-2">
            <img src="{{ listing.image }}" class="card-img" alt="{{ listing.title }}">
          </div>
        {% endif %}

        <div class="col-md-1"></div>
        <div class="col-md-3">
          <div class="card-body">
            <h3 class="card-title">Title: {{ listing.title }}</h3>
            <p class="card-text">Description: {{ listing.description }}</p>
            <p class="card-text">Starting bid: {{ listing.start_bid }}</p>

            {% if highest_bid %}
              <p class="card-text">Current bid: {{ highest_bid }}</p>
            {% endif %}

            {% if user.is_authenticated %}
              <form action="{% url 'bid' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listingID" value="{{ listing.id }}">
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" name="newBid" step="0.01">
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn btn-primary" name="submitBid">Place bid</button>
                  </div>
                </div>
              </form>
            {% endif %}

            {% if listing.category %}
              <p class="card-text">Category: {{ listing.category }}</p>
            {% endif %}

            {% if user.is_authenticated %}

              <form action="{% url 'watchlist' user.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing" value="{{ listing.id }}">
                {% if watching %}
                  <button type="submit" name="action" value="remove" class="btn btn-danger">Remove from watchlist</button>
                {% else %}
                  <button type="submit" name="action" value="add" class="btn btn-info">Add to watchlist</button>
                {% endif %}
              </form>

            {% endif %}
          </div>
        </div>
        <div class="col-md-4">
          <h3>Comments:</h3>

          <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <p class="card-text"><small class="text-muted">Posted by: Wilchu</small></p>
            </div>
          </div>

          <form action="#" method="post">
            {%csrf_token%}
            <div class="row justify-content-center">
              <div class="col-md-9">
                <input type="text" class="form-control" name="comment" placeholder="Type your comment here">
              </div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Send your comment</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>

{% endblock %}
