{% extends 'auctions/layout.html' %}

{% block body %}

  <div class="container">
    <header style="margin-top: 20px;">
      <div class="row justify-content-between">
        <div class="col-6">
          <h2>Title: {{ listing.title }}</h2>
        </div>
        <div class="col-4 text-right">
          {% if owner and listing.active == 1 %}
          <form action="{% url 'endListing' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">End the listing</button>
          </form>
          {% endif %}
        </div>
      </div>
    </header>

    {% if 'error' in request.session %}
      <div class="alert alert-danger" role="alert">
        Your bid is too low please reise your bid.
      </div>
    {% endif %}

    {% if listing.active == 0 %}
      <div class="alert alert-warning" role="alert">
        Listing is closed.
        {% if winner == user.username %}
          <b>Congratulations!</b> You have won this auction!
        {% endif %}
      </div>
    {% endif %}

    <div class="row">
      <!-- LISTING INFO -->
      <div class="col-6">
        <div class="card">
          {% if listing.image %}
            <img src="{{ listing.image }}" class="img-thumbnail" alt="{{ listing.title }}">
          {% endif %}
          <div class="card-body">
            <p class="card-text"><b>Description:</b> {{ listing.description }}</p>
            <p class="card-text"><b>Starting bid:</b> {{ listing.start_bid }}</p>
            <p class="card-text"><b>Current bid:</b> {{ highest_bid }}</p>
            {% if listing.category %}
              <p class="card-text"><b>Category:</b> {{ listing.category }}</p>
            {% endif %}

            {% if user.is_authenticated %}
              {% if listing.active == 1 %}
                <form action="{% url 'bid' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="listingID" value="{{ listing.id }}">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="number" class="form-control" name="newBid" step="0.01">
                    </div>
                    <div class="col-md-3">
                      <button type="submit" class="btn btn-primary" name="submitBid">Place bid</button>
                    </div>
                  </div>
                </form>
              {% endif %}
              <div style="margin-bottom: 10px;"></div>
              <form action="{% url 'watchlist' user.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing" value="{{ listing.id }}">
                {% if watching %}
                  <button type="submit" name="action" value="remove" class="btn btn-danger">Remove from watchlist</button>
                {% else %}
                  <button type="submit" name="action" value="add" class="btn btn-info">Add to watchlist</button>
                {% endif %}
              </form>

            {% endif %}

          </div>
        </div>
      </div>
      <!-- COMMENTS -->
      <div class="col-6">
        <header>
          <h2>Comments:</h2>
        </header>
        {% for comment in comments %}
            <div class="card-body">
              <p class="card-text">
                {{ comment.comment }}
              </p>
              <p class="card-text"><small class="text-muted">Posted by: {{ comment.user.username }}</small></p>
            </div>
            {% empty %}
            <p class="text-muted">No comments to display</p>
        {% endfor %}

        {% if user.is_authenticated and listing.active == 1 %}

            {% if 'comment_error' in request.session %}
              <div class="alert alert-danger" role="alert">
                Your comment is too long or empty!
              </div>
            {% endif %}

            <form action="{% url 'comment' %}" method="post">
              {%csrf_token%}
              <div class="row justify-content-center">
                <div class="col-md-9">
                  <input type="hidden" name="listingID" value="{{ listing.id }}">
                  <input type="text" class="form-control" name="comment" placeholder="Type your comment here" aria-describedby="commentHint">
                  <small id="commentHint" class="text-muted">
                    Your comment has to be no longer than 512 characters
                  </small>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-primary">comment</button>
                </div>
              </div>
            </form>

        {% endif %}

      </div>
    </div>

  </div>

{% endblock %}
