{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container">

      <header class="text-center">
        <h2>Login</h2>
        <hr>
      </header>

      <div class="col-md-6 col-centered">

        {% if message %}
          <div class="alert alert-danger text-center" role="alert">
            {{ message }}
          </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
      </div>

    </div>

{% endblock %}
