{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
      <section>
          <div class="jumbotron bg-dark text-white">

            {% if message %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

              <header>
                  <h3>New post</h3>
              </header>
              <form action="{% url 'index' %}" method="POST">
                  {% csrf_token %}
                  <textarea class="form-control" name="post_content" rows="4"></textarea>
                  <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="submit">
              </form>
          </div> 
        </section>
    {% endif %}

    <section>
        <div class="container">
             
            {% for post in all_posts %}
            <div class="card bg-dark text-white">
                <div class="card-body">
                  <p class="card-text">{{ post.post_content }}</p>
                </div>
                <div class="card-footer text-muted">
                  <p>Added on: {{ post.post_date }} | By: <a href="{% url 'profil' post.post_owner.id %}">{{ post.post_owner }}</a></p>
                  <button type="button" class="btn btn-primary">
                    &hearts; Likes <span class="badge badge-light">{{ post.post_likes }}</span>
                    <span class="sr-only">Likes</span>
                  </button>
                </div>
              </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}