{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
      <section>
          <div class="jumbotron bg-dark text-white">

            {% if message %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

              <header>
                  <h3>New post</h3>
              </header>
              <form action="{% url 'index' %}" method="POST">
                  {% csrf_token %}
                  <textarea class="form-control" name="post_content" rows="4"></textarea>
                  <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="submit">
              </form>
          </div> 
        </section>
    {% endif %}

    <section>
        <div class="container">
            {% for post in all_posts %}
            <div class="card bg-dark text-white">
                <div class="card-body">
                  <p class="card-text">{{ post.post_content }}</p>
                  {% if user == post.post_owner %}
                    <button type="button" data-postid="{{ post.id }}" class="btn btn-light btn-edit">Edit</button>
                  {% endif %}
                </div>
                <div class="card-footer text-muted">
                  <p>Added on: {{ post.post_date }} | By: <a href="{% url 'profil' post.post_owner.id %}">{{ post.post_owner }}</a></p>
                  <button type="button" class="btn btn-primary">
                    &hearts; Likes <span class="badge badge-light">{{ post.post_likes }}</span>
                    <span class="sr-only">Likes</span>
                  </button>
                </div>
              </div>
            {% endfor %}
        </div>
    </section>

    <section style="margin-top: 20px;">
      <nav aria-label="Posts pagination">
        <ul class="pagination justify-content-center pagination-lg">
          {% if all_posts.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ all_posts.previous_page_number }}">Previous</a>
            </li>
          {% endif %}

          {% for page in all_posts.paginator.page_range %}
            <li class="page-item {% if page == all_posts.number %} active {% endif %}">
              <a class="page-link" href="{% url 'index' %}?page={{ page }}">{{ page }}</a>
            </li>
          {% endfor %}

          {% if all_posts.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'index' %}?page={{ all_posts.next_page_number }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </section>

{% endblock %}