{% extends "network/layout.html" %}

{% block body %}
    <section>
        <div class="jumbotron">
            <header>
                <h3>New post</h3>
            </header>
            <form action="#">
                <textarea name="post" class="form-control" rows="4"></textarea>
                <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="submit">
            </form>
        </div> 
    </section>

    <section>
        <div class="container">
            {% for post in all_posts %}
            <div class="card">
                <div class="card-body">
                  <p class="card-text">{{ post.post_content }}</p>
                </div>
                <div class="card-footer text-muted">
                  <p>Added on: {{ post.post_date }} | By: {{ post.post_owner }}</p>
                </div>
              </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}