{% extends "network/layout.html" %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">Details:</div>
                        <div class="card-body"> 
                          
                          <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width="200px;"class="img-thumbnail" alt="Icon of a user">  
                          
                            <h3 class="card-title">{{ user_nickname }}</h3>
                          </div>

                          {% if user_nickname != user.username %}
                            <button type="button" class="btn btn-outline-info btn-block">Follow</button>
                          {% endif %}
                          
                          <hr>
                          <p class="card-text">Followers: {{ user_followers }}</p>
                          <hr>
                          <p class="card-text">Following: {{ user_following }}</p>
                          <hr>
                          <p class="card-text">Date joined: {{ user_joined }}</p>
                          <hr>
                          <p class="card-text">Last seen: {{ user_seen }}</p>
                          <hr>
                          
                        </div>
                      </div>
                </div>
                <div class="col-md-8">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">Posts:</div>
                        <div class="card-body">
                           Display all posts
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}