{% extends "network/layout.html" %}

{% block body %}
    <div class="text-white d-flex justify-content-center" style="margin-top: 30px;">
        <div class="col-md-6">
            <h2>Register</h2>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
            <br>
            Already have an account? <a href="{% url 'login' %}"><span class="badge badge-info">Log In here.</span></a>
        </div>
    </div>
{% endblock %}