body {
    background-color: #212121;
    color: #fff !important;
}

.jumbotron {
    margin-top: 20px;
    padding: 20px;
}

.card {
    margin-top: 20px;
    border: none;
}

.card-header, hr, .bg-blue {
    background-color: #54a8f7 !important;
}