body {
    background-color: #212121;
}

.jumbotron {
    margin-top: 20px;
    padding: 20px;
}

.card {
    margin-top: 20px;
    border: none;
}

.card-header, hr {
    background-color: #54a8f7;
}