{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
      <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3 bg-light">
                <h2 class="text-center">Wiki</h2>
                <hr>
                <ul class="list-group">
                  <li class="list-group-item">
                    <form action="{% url 'search' %}" method="GET">
                        {% csrf_token %}
                        <input class="search form-control" type="text" name="q" placeholder="Search Encyclopedia">
                    </form>
                  </li>
                  <li class="list-group-item"><a href="{% url 'index' %}">Home</a></li>
                  <li class="list-group-item"><a href="{% url 'create' %}">Create New Page</a></li>
                  <li class="list-group-item"><a href="{% url 'random' %}">Random Page</a></li>
                </ul>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>
      </div>
    </body>
</html>
